<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add internet permission if not already present for Volley -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveCampus"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"> <!-- Add this for http://... traffic on modern Android -->

        <!-- MainActivity is now a regular activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.SaveCampus.NoActionBar">
            <!-- The launcher intent filter has been REMOVED from here -->
        </activity>

        <!-- LoginActivity is now the LAUNCHER activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <!-- The launcher intent filter has been MOVED here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Your RegisterActivity should also have an entry -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".AddItemActivity" />

    </application>
</manifest>
